<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="top.zuishare.dao.AdDao">
    <select id="getIndexAd" resultType="top.zuishare.spi.model.Advertisement">
        select id,height,name,url,width,picUrl,comment from tb_advertisement where status=1 order by priority desc limit #{maxLimit}
    </select>
</mapper>