<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="top.zuishare.dao.InfoDao">

    <select id="loadInfo" parameterType="String" resultType="top.zuishare.spi.model.Info">
        select * from tb_info where code=#{code} limit 1
    </select>
    
</mapper>