<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="top.zuishare.dao.ProductDao">

    <select id="countProducts" resultType="long">
        select count(1) from tb_product where status=1 and publish is true limit 1
    </select>
    
    <select id="getProductsList" resultType="top.zuishare.spi.model.Product">
        select id,enName,hot,picUrl,priority from tb_product where status=1 and publish is true
        order by priority desc,id desc
    </select>

    <select id="getHotProducts" resultType="top.zuishare.spi.model.Product">
        select id,enName,hot,picUrl,priority from tb_product where status=1 and hot is true and publish is true
        order by priority desc,id desc limit #{limit}
    </select>
    
    <select id="loadProduct" resultType="top.zuishare.spi.model.Product" parameterType="int">
        select tp.id,tp.enName,tp.hot,tp.picUrl,tp.description,tp.introduce,tp.categoryId,tc.enName as categoryEnName
        from tb_product tp inner join tb_category tc on tp.categoryId = tc.id  where tp.id=#{productId} and tp.status=1
        and tp.publish is true limit 1
    </select>
    
    <select id="queryProductsByCateId" resultType="top.zuishare.spi.model.Product" parameterType="int">
        select id,enName,hot,picUrl,priority from tb_product where status=1 and publish is true and categoryId=#{cateId}
        order by priority desc,id desc
    </select>

    <select id="countProductsByCateId" resultType="long" parameterType="int">
        select count(1) from tb_product where status=1 and publish is true and categoryId=#{cateId} limit 1
    </select>

</mapper>