<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headJsCss" id="headJsCss">
    <title th:text="'Home - '+${company.name}+' - Welcome'">Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <meta name="renderer" content="webkit"/>
    <meta property="og:url" th:content="${config.website}"/>
    <meta name="keywords" th:content="${config.keyword}"/>
    <meta name="description" th:content="${config.description}"/>
    <link rel="canonical" th:href="${config.website}"/>
    <link type="text/css" th:href="@{/css/base2.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/fkTheme.min.css}" rel="stylesheet" id="jzThemeFrame"/>
    <link type="text/css" th:href="@{/css/newSearchBoxStyle.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/edit.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/vcomponents.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/colorpicker.min.css}"
          rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/fkeditor.min.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/poshytipAndmCustomScrollbar.min.css}"
          rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/jzcusstyle.css}"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/video-js.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/video.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.min.css}"/>
    <style type="text/css" id="styleWebSite">
        #bannerV2 .fk-inBannerListZone{width:1200px;}
        #bannerV2 .fk-inBannerListZone{margin-left:-600px;}
    </style>
    <style type="text/css" id="styleBannerBg">
        .webBannerTable{background:none !important;}
        .webBanner{background:none !important;}
    </style>
    <style type="text/css" id="stylebacktotop">
        .fk_siteBackToTop{display:none;}
        .fk_siteBackToTop{cursor:pointer;}
        .fk_siteBackToTop{z-index:9030;}
        .fk_siteBackToTop{right:40px;}
        .fk_siteBackToTop{bottom:50px;}
        .fk_siteBackToTop{position:fixed;}
        .fk_siteBackToTop{width:50px;}
        .fk_siteBackToTop{height:50px;}
        .fk_siteBackToTop{margin:1px;}
        .fk_siteBackToTop{background-image:url(//0.ss.faisys.com/image/backToTop/secondStyle/03.png?v=201505251717);}
    </style>
</head>


<footer th:fragment="footerCssJs" id="footerCssJs">
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/jquery-mousewheel.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/fai.min.js}"></script>
    <script type="text/javascript"
            th:src="@{/js/jquery-ui-core.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/2052.min.js}"></script>
    <link type='text/css' th:href='@{/css/fontsIco.min.css}' rel='stylesheet'/>
</footer>


<div th:fragment="menu" id="menu">
    <table class="webTopTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="webTop" class="webTop">
                    <div id='corpTitle' class='corpTitle corpTitle2' fontPatternTitle='false' style=';'
                         _linkType='0' onpaste="Fai.top.Site.corpTitleFormatPasteDatacorpTitle();">
                        <div style="" class="newPrimaryTitle">
                            <img th:src="@{'/'+${company.logo}}" width="253px" height="45px" th:title="${company.name}" th:alt="${company.name}"/>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
    <table class="absTopTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="absTopForms" class="forms sideForms absForms">
                    <div style="position:absolute;"></div><!-- for ie6 -->

                </div>
            </td>
        </tr>
    </table>
    <table class="webNavTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="webNav" class="webNav webNavDefault">
                    <div id='navV2' class='nav navV2'>
                        <div class='navMainContent'>
                            <div class='navContent'>
                                <div id='navCenter' class='navCenter' style='width:568px;'>
                                    <div class='itemPrev' style="display: none;"></div>
                                    <div class='itemContainer'>
                                        <div title="" id="nav2"
                                             th:class="${currentColumn.id}?'item':'itemSelected item'"
                                             colid="2">
                                            <div class="itemCenter"><a hidefocus="true" style="outline:none;"
                                                                       href="/"><span
                                                    class="itemName0">Home</span></a></div>
                                        </div>
                                        <div class='itemSep'></div>
                                        <div th:each="column:${columns}">
                                            <div th:id="'nav'+${column.id}" th:class="${currentColumn.id==column.id}?'itemSelected item':'item'">
                                                <div class="itemCenter"><a hidefocus="true" style="outline:none;"
                                                                           th:href="@{'/column/'+${column.code}+'.html'}" href="/"><span
                                                        class="itemName0" th:text="${column.enName}"></span></a></div>
                                            </div>
                                            <div class='itemSep'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <table class="webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
        <tr>
            <td align="center" class="webHeaderTd fk-moduleZoneWrap">
                <div id="fk-webHeaderZone" class="J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">
                    <div class="fk-moduleZoneBg"></div>

                </div>
                <div id="webHeader" class="webHeader">
                    <table class='headerTable' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td class='headerCusLeft'></td>
                            <td class='headerCusMiddle' align='center' valign='top'>
                                <div class='headerNav'>

                                </div>
                            </td>
                            <td class='headerCusRight'></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="absTableAndFullTopForms" id="absTableAndFullTopForms">
    <table class="absMiddleTable" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div id="absForms" class="forms sideForms absForms">

                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="fullmeasureTopForms"
         class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms"
         style="display:none">

        <wbr style="display:none;"/>
    </div>
</div>


<div th:fragment="floatDiv" id="floatDiv">
    <div class="floatLeftTop" style='top:45px'>
        <div id="floatLeftTopForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatRightTop" style='top:45px'>
        <div id="floatRightTopForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatLeftBottom">
        <div id="floatLeftBottomForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatRightBottom">
        <div id="floatRightBottomForms" class="forms sideForms floatForms">

        </div>
    </div>
</div>


<div th:fragment="webFooterTable" id="webFooterTableFragment">
    <table class="absBottomTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="absBottomForms" class="forms sideForms absForms">
                    <div style="position:absolute;"></div><!-- for ie6 -->

                </div>
            </td>
        </tr>
    </table>
    <table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top" class="fk-moduleZoneWrap">
                <div id="fk-webFooterZone" class="J_moduleZone fk-webFooterZone fk-moduleZone forms sideForms">
                    <div class="fk-moduleZoneBg"></div>

                </div>

                <div id="webFooter" class="webFooter">
                    <div id='footer' class='footer'>
                        <table class='footerTop' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='topLeft'></td>
                                <td class='topCenter'></td>
                                <td class='topRight'></td>
                            </tr>
                        </table>
                        <table class='footerMiddle' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='middleLeft'></td>
                                <td class='middleCenter' align='center'>
                                    <div class='footerContent'>
                                        <div class='footerInfo'>
                                            <p><font face="Arial">©</font>&nbsp;<span th:text="${company.name}"></span>&nbsp;All Rights Reserved.</p>
                                        </div>
                                    </div>
                                </td>
                                <td class='middleRight'></td>
                            </tr>
                        </table>
                        <table class='footerBottom' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='bottomLeft'></td>
                                <td class='bottomCenter'></td>
                                <td class='bottomRight'></td>
                            </tr>
                        </table>
                    </div>

                </div>


            </td>
        </tr>
    </table>
    <div class="clearfloat"></div>
</div>

</html>