<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headJsCss" id="headJsCss">
    <title>Alice - I Love You</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <meta name="renderer" content="webkit"/>
    <meta property="og:url" content="http://fkjj21.faisco.cn/col.jsp?id=105"/>
    <meta name="keywords" content="网站模板—家私家具"/>
    <meta name="description" content="网站模板—家私家具"/>
    <link rel="canonical" href="//fkjj21.faisco.cn/col.jsp?id=105"/>
    <link type="text/css" href="//2.ss.faisys.com/css/base2.min.css?v=201710231308" rel="stylesheet"/>
    <link type="text/css"
          href="//1.jzs.faisys.com/1004/fkTheme.min.css?v=20171101001529&amp;isNavV2=true&amp;isBannerV2=true"
          rel="stylesheet" id="jzThemeFrame"/>
    <link type="text/css" href="//2.ss.faisys.com/css/newSearchBoxStyle.min.css?v=201710111604" rel="stylesheet"/>
    <link type="text/css" href="//2.ss.faisys.com/css/edit.min.css?v=201710231308" rel="stylesheet"/>
    <link type="text/css" href="//2.ss.faisys.com/css/comm/vcomponents.min.css?v=201710231308" rel="stylesheet"/>
    <link type="text/css" href="//2.ss.faisys.com/css/comm/colorpicker/colorpicker.min.css?v=201710091556"
          rel="stylesheet"/>
    <link type="text/css" href="//2.ss.faisys.com/css/comm/fkeditor/fkeditor.min.css?v=201710231308" rel="stylesheet"/>
    <link type="text/css" href="//2.ss.faisys.com/css/site/poshytipAndmCustomScrollbar.min.css?v=201707031157"
          rel="stylesheet"/>
    <link type="text/css" href="http://fkjj21.faisco.cn/jzcusstyle.jsp?colId=105&amp;extId=0&amp;_csw=0"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//2.ss.faisys.com/css/comm/video.js/video-js.min.css?v=201707171209"/>
    <link rel="stylesheet" type="text/css" href="//2.ss.faisys.com/css/video.min.css?v=201708031633"/>
    <link rel="stylesheet" type="text/css" href="//2.ss.faisys.com/css/datepicker.min.css?v=201710111604"/>
    <style type="text/css" id="styleWebSite">
        #bannerV2 .fk-inBannerListZone{width:1200px;}
        #bannerV2 .fk-inBannerListZone{margin-left:-600px;}
    </style>
    <style type="text/css" id="styleBannerBg">
        .webBannerTable{background:none !important;}
        .webBanner{background:none !important;}
    </style>
    <style type="text/css" id="stylebacktotop">
        .fk_siteBackToTop{display:none;}
        .fk_siteBackToTop{cursor:pointer;}
        .fk_siteBackToTop{z-index:9030;}
        .fk_siteBackToTop{right:40px;}
        .fk_siteBackToTop{bottom:50px;}
        .fk_siteBackToTop{position:fixed;}
        .fk_siteBackToTop{width:50px;}
        .fk_siteBackToTop{height:50px;}
        .fk_siteBackToTop{margin:1px;}
        .fk_siteBackToTop{background-image:url(//0.ss.faisys.com/image/backToTop/secondStyle/03.png?v=201505251717);}
    </style>
</head>


<footer th:fragment="footerCssJs" id="footerCssJs">
    <!--<script type="text/javascript" src="http://1.ss.faisys.com/js/comm/jquery/jquery-core.min.js?v=201707211543"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"
            src="http://1.ss.faisys.com/js/comm/jquery/jquery-mousewheel.min.js?v=201408111734"></script>
    <script type="text/javascript" src="http://1.ss.faisys.com/js/comm/fai.min.js?v=201707241717"></script>
    <script type="text/javascript"
            src="http://1.ss.faisys.com/js/comm/jquery/jquery-ui-core.min.js?v=201706191740"></script>
    <script type="text/javascript" src="http://1.ss.faisys.com/js/locale/2052.min.js?v=201706121743"></script>
    <link type='text/css' href='http://2.ss.faisys.com/css/fontsIco.min.css?v=201707171209' rel='stylesheet'/>
</footer>


<div th:fragment="menu" id="menu">
    <table class="webTopTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="webTop" class="webTop">
                    <div id='corpTitle' class='corpTitle corpTitle2' fontPatternTitle='false' style=';'
                         _linkType='0' onpaste="Fai.top.Site.corpTitleFormatPasteDatacorpTitle();">
                        <div style="" class="newPrimaryTitle"><b
                                style="color: rgb(0, 0, 0); font-family: 微软雅黑, &quot;microsoft yahei&quot;;">
                            <font color="#ffffff" style="color: rgb(255, 255, 255);"><font color="#ffc001">
                                <font style="color: rgb(74, 179, 68);" color="#4ab344">Furniture</font></font>&nbsp;
                                <font color="#cccccc"
                                      style="color: rgb(204, 204, 204);">Design</font></font></b><br/></div>
                    </div>

                </div>
            </td>
        </tr>
    </table>
    <table class="absTopTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="absTopForms" class="forms sideForms absForms">
                    <div style="position:absolute;"></div><!-- for ie6 -->

                </div>
            </td>
        </tr>
    </table>
    <table class="webNavTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="webNav" class="webNav webNavDefault">
                    <div id='navV2' class='nav navV2'>
                        <div class='navMainContent'>
                            <div class='navContent'>
                                <div id='navCenter' class='navCenter' style='width:568px;'>
                                    <div class='itemPrev' style="display: none;"></div>
                                    <div class='itemContainer'>
                                        <div title="" id="nav2"
                                             class="item itemCol2 itemIndex1 itemSelected itemSelectedIndex1"
                                             colid="2">
                                            <div class="itemCenter"><a hidefocus="true" style="outline:none;"
                                                                       href="/"><span
                                                    class="itemName0">Home</span></a></div>
                                        </div>
                                        <div class='itemSep'></div>
                                        <div th:each="column:${columns}">
                                            <div th:id="'nav'+${column.id}" th:class="'item itemCol'+${column.id}+' itemIndex2'">
                                                <div class="itemCenter"><a hidefocus="true" style="outline:none;"
                                                                           th:href="@{'/'+${column.code}+'.html'}" href="/"><span
                                                        class="itemName0" th:text="${column.enName}"></span></a></div>
                                            </div>
                                            <div class='itemSep'></div>
                                        </div>
                                    </div>
                                    <div class='itemNext' style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href='/col.jsp?id=109' style='display:none;'>联系我们</a>
                </div>
            </td>
        </tr>
    </table>
    <table class="webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
        <tr>
            <td align="center" class="webHeaderTd fk-moduleZoneWrap">
                <div id="fk-webHeaderZone" class="J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">
                    <div class="fk-moduleZoneBg"></div>

                </div>
                <div id="webHeader" class="webHeader">
                    <table class='headerTable' cellpadding='0' cellspacing='0'>
                        <tr>
                            <td class='headerCusLeft'></td>
                            <td class='headerCusMiddle' align='center' valign='top'>
                                <div class='headerNav'>

                                </div>
                            </td>
                            <td class='headerCusRight'></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


<div th:fragment="absTableAndFullTopForms" id="absTableAndFullTopForms">
    <table class="absMiddleTable" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div id="absForms" class="forms sideForms absForms">

                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="fullmeasureTopForms"
         class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms"
         style="display:none">

        <wbr style="display:none;"/>
    </div>
</div>


<div th:fragment="floatDiv" id="floatDiv">
    <div class="floatLeftTop" style='top:45px'>
        <div id="floatLeftTopForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatRightTop" style='top:45px'>
        <div id="floatRightTopForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatLeftBottom">
        <div id="floatLeftBottomForms" class="forms sideForms floatForms">

        </div>
    </div>
    <div class="floatRightBottom">
        <div id="floatRightBottomForms" class="forms sideForms floatForms">

        </div>
    </div>
</div>


<div th:fragment="webFooterTable" id="webFooterTableFragment">
    <table class="absBottomTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <div id="absBottomForms" class="forms sideForms absForms">
                    <div style="position:absolute;"></div><!-- for ie6 -->

                </div>
            </td>
        </tr>
    </table>
    <table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" valign="top" class="fk-moduleZoneWrap">
                <div id="fk-webFooterZone" class="J_moduleZone fk-webFooterZone fk-moduleZone forms sideForms">
                    <div class="fk-moduleZoneBg"></div>

                </div>

                <div id="webFooter" class="webFooter">
                    <div id='footer' class='footer'>
                        <table class='footerTop' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='topLeft'></td>
                                <td class='topCenter'></td>
                                <td class='topRight'></td>
                            </tr>
                        </table>
                        <table class='footerMiddle' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='middleLeft'></td>
                                <td class='middleCenter' align='center'>
                                    <div class='footerContent'>
                                        <div class='footerInfo'>
                                            <p><font face="Arial">©</font>2017 网站模板-家私家具 版权所有</p>
                                        </div>
                                    </div>
                                </td>
                                <td class='middleRight'></td>
                            </tr>
                        </table>
                        <table class='footerBottom' cellpadding='0' cellspacing='0'>
                            <tr valign='top'>
                                <td class='bottomLeft'></td>
                                <td class='bottomCenter'></td>
                                <td class='bottomRight'></td>
                            </tr>
                        </table>
                    </div>

                </div>


            </td>
        </tr>
    </table>
    <div class="clearfloat"></div>
</div>


<footer th:fragment="footer" id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <p>Copyright ©&nbsp;&nbsp;最分享&nbsp;&nbsp;版权所有.&nbsp;&nbsp;( 备案号：<a target="_blank" href="http://www.miitbeian.gov.cn/">粤ICP备17147867号-1</a> )</p>
        <div class="footer-navi clearfix">
            <div class="nav first">
                <ul id="menu-ifanr-footer-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28">
                        <a href="/aboutUs" target="_blank">
                            关于我们
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
                        <a href="mailto:admin@zuishare.top">
                            联系我们
                        </a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
                        <a href="/deliver" target="_blank">
                            文章投递
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div><!-- .site-info -->
</footer><!-- .site-footer -->


</html>