<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: headJsCss"></head>
<body class="error500">
<div id="page" class="hfeed site">

    <div th:replace="fragments/fragment :: header"></div>
    <div th:replace="fragments/fragment :: searchbar"></div>

    <nav class="breadcrumb">
    <a class="crumbs" title="返回首页" href="/">首页</a><i class="fa fa-angle-right"></i>亲，你搞破坏了！	</nav>
    <div id="content" class="site-content">


        <div class="clear"></div>
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <section class="error-404 not-found page">
                    <header class="entry-header">
                        <h1 class="page-title">啊哦，亲，网站差点被你搞挂了！</h1>
                    </header><!-- .page-header -->

                    <div class="single-content">
                        <p style="text-align: center;">亲，该网页可能有问题了！</p>

                        <div id="searchbar">
                            <form method="get" id="searchform" action="http://www.zuishare.top/">
                                <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required="required" />
                                <button type="button" id="searchsubmit" onclick="alert('功能后续加入中...');">搜索</button>
                            </form>
                        </div>
                        <br /><br /><br /><br /><br />
                    </div><!-- .page-content -->
                </section><!-- .error-404 -->

            </main><!-- .site-main -->
        </div><!-- .content-area -->

        <div id="sidebar" class="widget-area">
            <div class="wow fadeInUp" data-wow-delay="0.5s">
            </div>
            <div class="sidebar-roll">
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.5s">
            </div>
        </div>

        <div class="clear"></div>	<div class="clear"></div>
        <div class="wow fadeInUp" data-wow-delay="0.3s"></div>
    </div><!-- .site-content -->
    <div th:replace="fragments/fragment :: footer"></div>
    <div th:replace="fragments/fragment :: login"></div>
    <div th:replace="fragments/fragment :: scroll"></div>
    <script type="text/javascript" src="../static/js/superfish.js" th:src="@{/js/superfish.js}"></script>
</div>
</body>
</html>