<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: headJsCss"></head>
<body class="home blog" style="">
<div id="page" class="hfeed site">
    <div th:replace="fragments/fragment :: header"></div>
    <div th:replace="fragments/fragment :: searchbar"></div>

    <nav class="breadcrumb">
    现在位置：&nbsp;<a href="/" title="首页">首页</a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span th:text="${tempCate.name}">最分享</span>
    </nav>
    <div id="content" class="site-content">
        <div class="clear"></div>
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <div th:each="article:${articlesPage.data}" class="wow" data-wow-delay="0.3s">
                    <article th:id="'post-'+${article.id}" th:class="'post-'+${article.id}+' post type-post status-publish format-standard hentry'">
                        <figure th:class="${article.contentType}==0?'thumbnail':'thumbnail kuaixun'">
                            <a th:if="${article.contentType}==0" th:href="@{'/article/'+${article.id}}"><img th:src="@{'/'+${article.imgTitlePath}}" th:alt="${article.title}"/></a>
                            <span class="cat"><a th:href="@{'/article/category/'+${article.categoryId}}" th:text="${article.categoryName}"></a></span>
                        </figure>
                        <header class="entry-header">
                            <h2 class="entry-title"><a th:href="@{'/article/'+${article.id}}" target="_blank" rel="bookmark" th:text="${article.title}"></a></h2>
                        </header><!-- .entry-header -->
                        <div th:class="${article.contentType}==0?'entry-content':'entry-content kuaixunContent'">
                            <div class="archive-content" th:utext="${article.introduce+'...'}">
                            </div>
                            <span class="title-l"></span>
                            <span class="entry-meta">
							<span class="date"  th:text="${#dates.format(article.publishTime*1000,'yyyy年MM月dd日 HH:mm:ss')+'&nbsp;'}"></span>
							<span class="views" th:text="${'阅读&nbsp;'+article.viewNum+'&nbsp;views'}"></span>
							<span class="comment"><a href="javascript:void(0);" onclick="alert('功能后续加上...');">
								<i class="fa fa-comment-o"></i>发表评论</a>
							</span>
						</span>
                            <div class="clear"></div>
                        </div><!-- .entry-content -->
                        <span class="entry-more"><a th:href="@{'/article/'+${article.id}}" target="_blank" rel="bookmark" th:text="阅读全文">阅读全文</a></span>
                    </article>
                </div>
                <!-- 分页 -->
                <div th:if="${articlesPage.totalPageNo}>0"  class="page-links">
                    <a th:each="pageNo : ${#numbers.sequence(1,articlesPage.totalPageNo)}" th:href="@{'/articles/'+${pageNo}}">
                        <span th:text="${pageNo}" th:class="${articlesPage.currentPageNo==pageNo}?'current':''"></span>
                    </a>
                </div>
            </main><!-- .site-main -->
        </div><!-- .content-area -->
        <div id="sidebar" class="widget-area">
            <div class="wow" data-wow-delay="0.5s">
                <aside th:replace="fragments/fragment :: hotPost"></aside>
                <!--<aside id="cx_tag_cloud-3" class="widget widget_cx_tag_cloud">
                    <div id="tag_cloud_widget">
                        <a href="http://www.zuishare.top/?tag=%e6%9c%89%e8%b6%a3%e5%af%b9%e8%af%9d" class="tag-link-19 tag-link-position-1" title="1个话题" style="font-size: 14px; left: 118.899px; top: 13.2261px; z-index: 101; opacity: 0.102831; display: none;">有趣对话</a>
                        <a href="http://www.zuishare.top/?tag=%e7%85%a7%e7%89%87" class="tag-link-15 tag-link-position-2" title="1个话题" style="font-size: 14px; left: 53.8347px; top: 19.8228px; z-index: 101; opacity: 0.101565; display: none;">照片</a>
                        <a href="http://www.zuishare.top/?tag=%e7%94%b5%e5%bd%b1%e6%8e%a8%e8%8d%90" class="tag-link-21 tag-link-position-3" title="2个话题" style="font-size: 14px; left: 26.4888px; top: 28.3928px; z-index: 102; opacity: 0.108102; display: none;">电影推荐</a>
                        <a href="http://www.zuishare.top/?tag=%e6%b3%a1%e5%a6%9e" class="tag-link-18 tag-link-position-4" title="1个话题" style="font-size: 14px; left: 122.201px; top: 10.281px; z-index: 102; opacity: 0.110388; display: none;">泡妞</a>
                        <a href="http://www.zuishare.top/?tag=%e9%98%bf%e7%b1%b3%e5%b0%94-%e6%b1%97" class="tag-link-22 tag-link-position-5" title="1个话题" style="font-size: 14px; left: 174.945px; top: 64.3026px; z-index: 101; opacity: 0.10396; display: none;">阿米尔.汗</a>
                        <a href="http://www.zuishare.top/?tag=%e7%bd%91%e7%9b%98" class="tag-link-10 tag-link-position-6" title="1个话题" style="font-size: 14px; left: 174.643px; top: 166.39px; z-index: 135; opacity: 0.830433;">网盘</a>
                        <a href="http://www.zuishare.top/?tag=%e5%8d%95%e8%ba%ab%e6%95%99%e7%a8%8b" class="tag-link-17 tag-link-position-7" title="1个话题" style="font-size: 14px; left: 76.6379px; top: 178.72px; z-index: 170; opacity: 3.61753;">单身教程</a>
                        <a href="http://www.zuishare.top/?tag=%e7%99%be%e5%ba%a6%e4%ba%91" class="tag-link-9 tag-link-position-8" title="1个话题" style="font-size: 14px; left: 7.3654px; top: 135.185px; z-index: 142; opacity: 1.1615;">百度云</a>
                        <a href="http://www.zuishare.top/?tag=%e7%a6%8f%e5%88%a9%e7%bd%91%e7%ab%99" class="tag-link-16 tag-link-position-9" title="1个话题" style="font-size: 14px; left: -1.38925px; top: 61.2326px; z-index: 101; opacity: 0.100585; display: none;">福利网站</a>
                        <a href="http://www.zuishare.top/?tag=%e7%be%8e%e5%89%a7" class="tag-link-25 tag-link-position-10" title="1个话题" style="font-size: 14px; left: 87.8381px; top: 8.88267px; z-index: 102; opacity: 0.114427; display: none;">美剧</a>
                        <a href="http://www.zuishare.top/?tag=%e6%9d%83%e5%8a%9b%e7%9a%84%e6%b8%b8%e6%88%8f" class="tag-link-24 tag-link-position-11" title="1个话题" style="font-size: 14px; left: 148.323px; top: 34.991px; z-index: 102; opacity: 0.111001; display: none;">权力的游戏</a>
                        <a href="http://www.zuishare.top/?tag=%e5%a5%97%e8%b7%af" class="tag-link-20 tag-link-position-12" title="1个话题" style="font-size: 14px; left: 168.355px; top: 83.6579px; z-index: 170; opacity: 3.59628;">套路</a>
                        <a href="http://www.zuishare.top/?tag=%e8%bd%af%e4%bb%b6%e4%b8%8b%e8%bd%bd" class="tag-link-11 tag-link-position-13" title="1个话题" style="font-size: 14px; left: 69.3553px; top: 87.9348px; z-index: 197; opacity: 10.6878;">软件下载</a>
                        <a href="http://www.zuishare.top/?tag=%e6%9c%89%e8%b6%a3%e7%bd%91%e7%ab%99" class="tag-link-14 tag-link-position-14" title="1个话题" style="font-size: 14px; left: 56.7883px; top: 23.932px; z-index: 145; opacity: 1.31984;">有趣网站</a>	<div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </aside>-->
                <!--<aside id="categories-2" class="widget widget_categories">
                    <h3 class="widget-title"><i class="fa fa-bars"></i>分类目录</h3>
                    <ul>
                        <li class="cat-item cat-item-5"><a href="http://www.zuishare.top/?cat=5">下载吧</a></li>
                        <li class="cat-item cat-item-1"><a href="http://www.zuishare.top/?cat=1">未分类</a></li>
                        <li class="cat-item cat-item-2"><a href="http://www.zuishare.top/?cat=2">电影推荐</a></li>
                        <li class="cat-item cat-item-3"><a href="http://www.zuishare.top/?cat=3">购物网赚</a></li>
                        <li class="cat-item cat-item-4"><a href="http://www.zuishare.top/?cat=4">推荐</a></li>
                        <li class="cat-item cat-item-23"><a href="http://www.zuishare.top/?cat=23">时光</a></li>
                    </ul>
                    <div class="clear"></div>
                </aside>-->
            </div>
            <div class="sidebar-roll">
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.5s">
            </div>


        </div>

        <div class="clear"></div>	<div class="clear"></div>
        <div class="wow fadeInUp" data-wow-delay="0.3s"><div id="links">
            <ul>
            </ul>
            <div class="clear"></div>
        </div>
        </div>

        <div class="clear"></div>
        <div class="clear"></div>
    </div><!-- .site-content -->

    <div th:replace="fragments/fragment :: footer"></div>

    <div th:replace="fragments/fragment :: login"></div>

    <div th:replace="fragments/fragment :: scroll"></div>
    <script type="text/javascript" src="../static/js/superfish.js" th:src="@{/js/superfish.js}"></script>
    <!--<script type="text/javascript" src="../static/js/3dtag.js" th:src="@{/js/3dtag.js}"></script>-->

</div>
<div id="overlay"></div>
<div th:replace="fragments/fragment :: sidrMain"></div>
</body>
</html>