<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/fragment :: headJsCss"></head>
    <link type='text/css' th:href='@{/css/fkModule.min.css}' rel='stylesheet' id='jzModule2_1_1'/>
</head>
<body class="g_body g_locale2052 g_cusSiteWidth fk-baseEditToolV2 ">
<div id="g_main" class="g_main g_col108  forMacAndChrome">
    <div id="web" class="g_web ">
        <div th:replace="fragments/fragment :: menu"></div>

        <div th:replace="fragments/fragment :: indexAds"></div>

        <div id="fullmeasureBottomForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms">
            <div id="module383" _indexclass="formIndex2" _moduletype="1" _modulestyle="80" _moduleid="383"
                 class="form form383 formIndex2 formStyle80 fk-formFullmeasure " title="" _sys="0" _banid="" style=""
                 _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="1"
                 _global="false" _independent="false" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4"
                 carouselspeed="1">
                <div class="fillContentRelative"
                     style="position: relative; z-index: -1; height: 971px; width: 100%; display: none;"></div>
                <div style="position: static;"
                     class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                    <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg383 fullmeasureStyle0"></div>
                    <div class="fullmeasureOuterContent fullmeasureOuterContent383">
                        <div class="fullmeasureContent fullmeasureContent383" id="fullmeasureContent383_1"
                             moduleid="383">
                            <div class="fullmeasureContentBg fullmeasureContentBg383"></div>

                            <div th:utext="${info.content}"></div>

                        </div>
                    </div>
                    <div class="clearfloat clearfloat383"></div>
                </div>
            </div>

        </div>

        <div th:replace="fragments/fragment :: webFooterTable"></div>
    </div>
</div>

<footer th:replace="fragments/fragment :: footerCssJs"></footer>
</body>
</html>