<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: headJsCss"></head>
<body class="home blog" style="">
<div id="page" class="hfeed site">

    <div th:replace="fragments/fragment :: header"></div>
    <div th:replace="fragments/fragment :: searchbar"></div>

    <nav class="breadcrumb">
        现在位置：&nbsp;<a href="/" title="首页">首页</a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <a th:href="@{'/article/category/'+${model.categoryId}}" rel="tag" th:text="${model.categoryName}">最分享</a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span th:text="${model.title}">最分享</span>
    </nav>
    <div id="content" class="site-content">
        <div class="clear"></div>
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
<article class="entry-common post type-post status-publish format-standard hentry" itemtype="http://schema.org/Article" itemscope="itemscope" data-id="47120">

    <header class="entry-header">
        <div class="pre-cat">
            <div class="pre-catinner">
                <a th:href="@{'/article/category/'+${model.categoryId}}" rel="tag" th:text="${model.categoryName}">最分享</a>
            </div>
            <div class="pre-catarrow"></div>
        </div>
        <h2 class="entry-name entry-title" itemprop="headline" th:text="${model.title}"></h2>
    </header>

    <div class="authorbio">
      <span itemprop="datePublished" th:text="${#dates.format(model.publishTime*1000,'yyyy年MM月dd日 HH:mm:ss')+'&nbsp;'}">
            </span> | 作者：<span itemprop="author" th:text="${model.author}">TANFAN</span>
    </div>
    <!--.postMeta-->
    <div class="entry-content single-content " itemprop="description" th:utext="${model.content}">
    </div>
</article>

            <!-- 评论 -->
                <div id="comments" class="comment-list">
                    <!--<div class="commentshow">
                        <ol class="comment-list">
                            <li class="comments" id="li-comment-104834">
                                <div id="comment-104834" class="comment-author">
                                    <img th:src="@{/images/default.jpg}" width="40" height="40" alt="" class="avatar avatar-40wp-user-avatar wp-user-avatar-40 alignnone photo avatar-default"/>
                                    <cite id="author-104834">人赃并获还想走？</cite>
                                    <span>2017/11/26 12:14</span>
                                    <section id="commentText-104834" class="comments-title">
                                    <p>context</p>
                                    </section>
                                </div>
                            </li>
                        </ol>
                        <nav class="commentnav">
                        </nav>
                    </div>-->
                    <div id="respond" class="respond" role="form">
                        <h2 id="reply-title" class="comments-title-word"> 发表评论 <small>
                            <a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0);" style="display:none;">点击这里取消回复。</a>                </small> </h2>
                        <form action="http://fuliba.net/wp-comments-post.php" method="post" id="commentform">
                            <div id="comment-author-info">
                                <p>
                                    <input type="text" placeholder="姓名" required="" name="author" id="author" value="" size="14" tabindex="1"/>
                                    <label for="author">签名</label>
                                    <em>*</em></p>
                                <p>
                                    <input type="text" placeholder="请输入邮箱" required="" name="email" id="email" value="" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" size="25" tabindex="2"/>
                                    <label for="email">邮箱</label>
                                    <em>*</em></p>
                                <p class="comment-author-url">
                                    <input placeholder="http://xxx.xxx.xxx" type="text" name="url" id="url" value="" size="36" tabindex="3"/>
                                    <label for="url">网址</label>
                                </p>
                            </div>
                            <p class="comment-form-comment">
                                <textarea placeholder="Note:如评论不显示，请等候管理员人工审核" required="" name="comment" id="comment" rows="10"></textarea>
                                <div id="loading" style="display: none;">正在提交, 请稍候...</div><div id="error" style="display: none;">#</div>
                            </p>
                            <input name="submit" type="button" class="commentsubmit" value="回复功能后续加入..."/>
                            <input type="hidden" name="comment_post_ID" value="postid" id="comment_post_ID"/>
                            </form>
                    </div>
                </div>
                <!-- 评论 -->

            </main>

            <div class="wow fadeInUp" data-wow-delay="0.3s"><div id="links">
                <ul></ul>
                <div class="clear"></div>
            </div>
            </div>

        </div>

        <div id="sidebar" class="widget-area">
            <div class="wow" data-wow-delay="0.5s">
                <aside th:replace="fragments/fragment :: hotPost"></aside>
            </div>
            <div class="sidebar-roll">
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.5s">
            </div>
        </div>

        <div class="clear"></div>
        <div class="clear"></div>

    </div>

    <div th:replace="fragments/fragment :: footer"></div>

    <div th:replace="fragments/fragment :: login"></div>

    <div th:replace="fragments/fragment :: scroll"></div>

    <script type="text/javascript" src="../static/js/superfish.js" th:src="@{/js/superfish.js}"></script>
</div>

<div id="overlay"></div>

<div th:replace="fragments/fragment :: sidrMain"></div>

</body>
</html>
