<!DOCTYPE HTML>

<html xlang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${news.title}+'-'+${currentColumn.enName}+'-'+${company.name}"></title>
    <meta name="description" itemprop="description" th:content="${news.title}"/>
    <meta itemprop="name" th:content="${news.title}"/>
    <meta name="keywords" th:content="${news.keyWords}+','+${config.keyword}"/>
    <head th:replace="fragments/fragment :: headJsCss"></head>
    <link type='text/css' th:href='@{/css/detail2.min.css}' rel='stylesheet'/>
    <link type="text/css" th:href="@{/css/jzcusstyle.css}" rel="stylesheet" />
</head>

<body class="g_body g_locale2052 g_cusSiteWidth  ">
<div id='sitetips' class='sitetips sitetips_new' style='display:none;'>
    <div class='keepcenter_tipbar'>
        <div class='tiptext'></div>
        <div class='tiptoolbtn'></div>
    </div>
</div>
<div id='siteTipsDemoTemplate' class='siteTipsDemoTemplate'>
    <iframe id='siteTipsDemoTemplateFrame' frameborder='0' width='100%' height='205px' scrolling='auto'></iframe>
</div>


<div id="g_main" class='g_main g_col7  forMacAndChrome'>
    <div id="web" class="g_web ">

        <div th:replace="fragments/fragment :: menu"></div>

        <div th:replace="fragments/fragment :: indexAds"></div>

        <table class="absMiddleTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="absForms" class="forms sideForms absForms">

                    </div>
                </td>
            </tr>
        </table>


        <div id="fullmeasureTopForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms"
             style='display:none'>

        </div>

        <table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="webContainer" class="webContainer">
                        <div id="container" class="container">
                            <table class="containerTop" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>

                            <table class="containerMiddle" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td id="containerMiddleLeft" class="containerMiddleLeft">


                                    </td>

                                    <td class="containerMiddleCenter">
                                        <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">

                                        </div>

                                        <div id="containerForms" class="containerForms">
                                            <div id="topForms" class="column forms mainForms topForms"
                                                 style='display:none'>

                                            </div>

                                            <table class="containerFormsMiddle" cellpadding='0' cellspacing='0'>
                                                <tr>
                                                    <td valign="top" id="containerFormsLeft" class="containerFormsLeft"
                                                        style='display:none'>
                                                        <div class="containerFormsLeftTop">
                                                        </div>
                                                        <div id="leftForms" class="column forms sideForms leftForms">

                                                        </div>
                                                        <div class="containerFormsLeftBottom">
                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsCenter"
                                                        class="containerFormsCenter">

                                                        <div id="centerTopForms"
                                                             class="column forms mainForms centerTopForms">
                                                            <div id='module12' _indexClass='formIndex1' _moduleType='12'
                                                                 _modulestyle='103' _moduleid='12'
                                                                 class='form form12 formIndex1 formStyle103' title=''
                                                                 _sys='0' _banId='' style='' _side='0' _inTab='0'
                                                                 _inMulMCol='0' _inFullmeasure='0' _inpack='0'
                                                                 _inpopupzone='0' _autoHeight='0' _global='false'
                                                                 _independent='false'>
                                                                <table class='formTop formTop12' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left'></td>
                                                                        <td class='center'></td>
                                                                        <td class='right'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class=' formMiddle formMiddle12'
                                                                       style='height:512px; ' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='formMiddleLeft formMiddleLeft12'></td>
                                                                        <td class='formMiddleCenter formMiddleCenter12 '
                                                                            valign='top'>
                                                                            <div class='formMiddleContent formMiddleContent12 fk-formContentOtherPadding'
                                                                                 tabStyle='0'>
                                                                                <div class='newsDetail newsDetailV2'
                                                                                     newsid='11'>
                                                                                    <div class='title' th:text="${news.title}">
                                                                                    </div>
                                                                                    <div class='newsInfoWrap'>
                                                                                        <div class='rightInfo'></div>
                                                                                        <div class='leftInfo'></div>
                                                                                    </div>
                                                                                    <div class='line1'></div>
                                                                                    <div class='richContent  richContent0' th:utext="${news.content}">
                                                                                    </div>
                                                                                    <div class='line2'></div>
                                                                                    <!--<div class='middlePanel'>-->
                                                                                        <!--<div id='prevAndNextDivV2'>
                                                                                            <div id='newsPagenation12'
                                                                                                 class='newsPagenation'>
                                                                                                <div class='pagenationV2'>
                                                                                                    <span class='pageTag'>Next</span><a
                                                                                                        hidefocus='true'
                                                                                                        href='javascript:void(0)'>Next news title</a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>-->
                                                                                        <!--<div class='newsGroup'>
                                                                                            <span class='newsGroupName'>News Category：</span>
                                                                                            <a class='newsGroupTag'
                                                                                               href='nr.jsp?mid=12'
                                                                                               target='_self'>New1</a>
                                                                                        </div>-->
                                                                                        <!--<div class='shareInfo'><span
                                                                                                class='shareTag'>Share to：</span>
                                                                                            <div class='shareListPanel'>
                                                                                                <a class='shareIcon Weixin'
                                                                                                   hidefocus='true'
                                                                                                   title='Weixin'
                                                                                                   href='javascript:;'
                                                                                                   onclick="return false;"></a><a
                                                                                                    class='shareIcon sina_weibo'
                                                                                                    hidefocus='true'
                                                                                                    title='Weibo'
                                                                                                    href='javascript:;'
                                                                                                    onclick=''></a><a
                                                                                                    class='shareIcon qq_zone'
                                                                                                    hidefocus='true'
                                                                                                    title='qq zone'
                                                                                                    href='javascript:;'
                                                                                                    onclick=''></a>
                                                                                            </div>
                                                                                        </div>-->
                                                                                        <!--<div class='clearfloat'></div>-->
                                                                                    <!--</div>-->
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class='formMiddleRight formMiddleRight12'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class='formBottom formBottom12' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left left12'></td>
                                                                        <td class='center center12'></td>
                                                                        <td class='right right12'></td>
                                                                    </tr>
                                                                </table>
                                                                <div class='clearfloat clearfloat12'></div>
                                                            </div>


                                                        </div>
                                                        <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                                            <div id="middleLeftForms"
                                                                 class="column forms mainForms middleLeftForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div id="middleRightForms"
                                                                 class="column forms mainForms middleRightForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div class="clearfloat"></div>
                                                        </div>
                                                        <div id="centerBottomForms"
                                                             class="column forms mainForms centerBottomForms"
                                                             style='display:none'>

                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsRight"
                                                        class="containerFormsRight" style='display:none'>
                                                        <div class="containerFormsRightTop">
                                                        </div>
                                                        <div id="rightForms" class="column forms sideForms rightForms">

                                                        </div>
                                                        <div class="containerFormsRightBottom">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="bottomForms" class="column forms mainForms bottomForms"
                                                 style='display:none'>

                                            </div>

                                            <div id="containerPlaceholder" class="containerPlaceholder"></div>

                                        </div>

                                        <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                                        </div>

                                    </td>

                                    <td id="containerMiddleRight" class="containerMiddleRight"></td>
                                </tr>
                            </table>

                            <table class="containerBottom" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </td>
            </tr>
        </table>

        <div th:replace="fragments/fragment :: webFooterTable"></div>

    </div>
</div>

<footer th:replace="fragments/fragment :: footerCssJs"></footer>
</body>
</html>




