<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/fragment :: headJsCss"></head>
</head>
<body class="g_body g_locale2052 g_cusSiteWidth fk-baseEditToolV2 ">

<div id="g_main" class="g_main g_col107  forMacAndChrome">
    <div id="web" class="g_web ">

        <div th:replace="fragments/fragment :: menu"></div>

        <div th:replace="fragments/fragment :: indexAds"></div>

        <div id="fullmeasureBottomForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms">
            <div id="module376" _indexclass="formIndex1" _moduletype="1" _modulestyle="80" _moduleid="376"
                 class="form form376 formIndex1 formStyle80 fk-formFullmeasure " title="" _sys="0" _banid="" style=""
                 _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="1"
                 _global="false" _independent="false" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4"
                 carouselspeed="1">
                <div class="fillContentRelative"
                     style="position: relative; z-index: -1; height: 388px; width: 100%; display: none;"></div>
                <div style="position: static;"
                     class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                    <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg376 fullmeasureStyle0"></div>
                    <div class="fullmeasureOuterContent fullmeasureOuterContent376">
                        <div class="fullmeasureContent fullmeasureContent376" id="fullmeasureContent376_1"
                             moduleid="376">
                            <div class="fullmeasureContentBg fullmeasureContentBg376"></div>
                            <div id="module377" _indexclass="formIndex1" _moduletype="1" _modulestyle="7"
                                 _moduleid="377" class="form form377 formStyle7 formIndex1" title="" _sys="0" _banid=""
                                 style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="376" _inpack="0"
                                 _inpopupzone="0" _autoheight="1" _global="false" _independent="false">
                                <table class="formTop formTop377" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left"></td>
                                        <td class="center"></td>
                                        <td class="right"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class=" formMiddle formMiddle377" style="" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="formMiddleLeft formMiddleLeft377"></td>
                                        <td class="formMiddleCenter formMiddleCenter377 " valign="top">
                                            <div class="formMiddleContent formMiddleContent377 fk-formContentOtherPadding"
                                                 tabstyle="0">
                                                <div>
                                                    <div class="newsList J_newsList  newsNewModuleStyle_one  useOldStyleForHeight"
                                                         id="newsList377" _showsetting="0" newslisttype="3" scroll="0">

                                                        <div th:each="news:${list}">
                                                            <div topswitch="on" class="J_newsListLine line noHover g_item  fk-newsLineHeight">
                                                                <div th:id="'lineBody'+${news.id}"
                                                                     class="J_lineBody lineBody newsListLineBody1">
                                                                    <div class="J_titleLine fk-titleLine">
                                                                        <div class="J_newsTitle newsTitle J_noChangeStyle newsListNewsTitle3"
                                                                             style="width: 75%;">
                                                                            <div class="J_newsListTopFlag "></div>
                                                                            <a class="fk-newsListTitle" hidefocus="true"
                                                                               th:href="@{'/news/'+${news.id}+'.html'}"
                                                                               target="_blank" th:title="${news.title}" th:text="${news.title}"></a>
                                                                        </div>
                                                                        <div class="J_newsCalendar newsCalendar J_noChangeStyle newsListCalendar1"
                                                                             style="width: 23.5%;">
                                                                            <a class="fk-newsListDate" hidefocus="true"
                                                                               th:href="@{'/news/'+${news.id}+'.html'}"
                                                                               target="_blank" th:text="${#dates.format(news.publishDate,'yyyy-MM-dd')}"></a>
                                                                        </div>
                                                                        <div class="clearfloat"></div>
                                                                    </div>
                                                                    <div>
                                                                        <p class="pic-mixNewsStyleSummary fk-newsListSummary" th:text="${news.bref}"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="J_separatorLine separatorLine g_separator "></div>
                                                        </div>
                                                        <nav th:replace="fragments/fragment :: pagination"></nav>
                                                        <div class="clearfloat"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="formMiddleRight formMiddleRight377"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="formBottom formBottom377" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left left377"></td>
                                        <td class="center center377"></td>
                                        <td class="right right377"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfloat clearfloat377"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfloat clearfloat376"></div>
                </div>
            </div>

        </div>

        <div th:replace="fragments/fragment :: webFooterTable"></div>
    </div>
</div>

<footer th:replace="fragments/fragment :: footerCssJs"></footer>
</body>
</html>