<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="keywords" th:content="${currentColumn.enName}+','+${config.keyword}"/>
    <title th:text="${currentColumn.enName}+'-'+${company.name}">Home</title>
    <head th:replace="fragments/fragment :: headJsCss"></head>
</head>
<body class="g_body g_locale2052 g_cusSiteWidth fk-baseEditToolV2 ">

<div id="g_main" class="g_main g_col105  forMacAndChrome">
    <div id="web" class="g_web ">

        <div th:replace="fragments/fragment :: menu"></div>

        <ul th:replace="fragments/fragment :: diceMenu"></ul>

        <div th:replace="fragments/fragment :: indexAds"></div>

        <div id="fullmeasureBottomForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms">
            <div id="module359" _indexclass="formIndex1" _moduletype="1" _modulestyle="80" _moduleid="359"
                 class="form form359 formIndex1 formStyle80 fk-formFullmeasure " title="" _sys="0" _banid="" style=""
                 _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _inpopupzone="0" _autoheight="1"
                 _global="false" _independent="false" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4"
                 carouselspeed="1">
                <div class="fillContentRelative"
                     style="position: relative; z-index: -1; height: 1235px; width: 100%; display: none;"></div>
                <div style="position: static;"
                     class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                    <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg359 fullmeasureStyle0"></div>
                    <div class="fullmeasureOuterContent fullmeasureOuterContent359">
                        <div class="fullmeasureContent fullmeasureContent359" id="fullmeasureContent359_1"
                             moduleid="359">
                            <div class="fullmeasureContentBg fullmeasureContentBg359"></div>
                            <div id="module322" _indexclass="formIndex1" _moduletype="1" _modulestyle="1"
                                 _moduleid="322" class="form form322 formStyle1 formIndex1" title="" _sys="0" _banid=""
                                 style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="359" _inpack="0"
                                 _inpopupzone="0" _autoheight="1" _global="false" _independent="false">
                                <table class="formTop formTop322" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left"></td>
                                        <td class="center"></td>
                                        <td class="right"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="formBottom formBottom322" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left left322"></td>
                                        <td class="center center322"></td>
                                        <td class="right right322"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfloat clearfloat322"></div>
                            </div>

                            <div id="module395" _indexclass="" _moduletype="1" _modulestyle="2" _moduleid="395" class="form form395 formStyle2" title="" _sys="0" _banid="" style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="359" _inpack="0" _inpopupzone="0" _autoheight="1" _global="false" _independent="false">
                                <table class="formTop formTop395" cellpadding="0" cellspacing="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
                                <table class=" formMiddle formMiddle395" style="" cellpadding="0" cellspacing="0"><tbody><tr>
                                    <td class="formMiddleLeft formMiddleLeft395"></td>
                                    <td class="formMiddleCenter formMiddleCenter395 " valign="top">
                                        <div class="formMiddleContent formMiddleContent395 fk-formContentOtherPadding" tabstyle="0">
                                            <div id="productList395" class="fk-productTitleList productList " picwidth="320" picheight="320" _bordertype="0" _bgtype="1" _borderwidth="1">
                                                <div th:each="prod:${list}" class="productTileForm fk-productListTilePaddingClass3" style="width: 320px; margin: 25px 23px 25px 22px; height: 363px;" >
                                                    <div id="productTileForm7" class="topFlagImgDiv imgDiv " style="width:320px;height:320px;">
                                                        <table cellpadding="0" cellspacing="0">
                                                            <tbody><tr id="module395product7">
                                                                <td>
                                                                    <a hidefocus="true" th:href="@{'/product/'+${prod.id}+'.html'}" target="_blank">
                                                                        <img th:alt="${prod.enName}" th:src="@{'/'+${prod.picUrl}}" th:title="${prod.enName}" style="width: 320px; height: 320px; margin-left: 0px;"/>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </div>
                                                    <div class="propList  " style="text-align:center">
                                                        <table class="fk-productName propDiv productName" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                <td>
                                                                    <a class="fk-productName" hidefocus="true" th:href="@{'/product/'+${prod.id}+'.html'}" th:title="${prod.enName}" th:text="${prod.enName}"></a>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </div>
                                                </div>
                                                <div class="clearfloat"></div>

                                                <nav th:replace="fragments/fragment :: pagination"></nav>

                                            </div>
                                        </div>
                                    </td>
                                    <td class="formMiddleRight formMiddleRight395"></td>
                                </tr></tbody></table>
                                <table class="formBottom formBottom395" cellpadding="0" cellspacing="0"><tbody><tr><td class="left left395"></td><td class="center center395"></td><td class="right right395"></td></tr></tbody></table>
                                <div class="clearfloat clearfloat395"></div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfloat clearfloat359"></div>
                </div>
            </div>

        </div>

        <div th:replace="fragments/fragment :: webFooterTable"></div>
    </div>
</div>

<footer th:replace="fragments/fragment :: footerCssJs"></footer>

</body>
</html>