<!DOCTYPE HTML>
<html xlang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.enName}+'-'+${currentColumn.enName}+'-'+${company.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="description" itemprop="description" th:content="${product.enName}+' - '+${company.name}"/>
    <meta itemprop="name" th:content="${product.enName}+' - '+${company.name}"/>
    <meta name="keywords" th:content="${product.keyWords}+','+${config.keyword}"/>
    <head th:replace="fragments/fragment :: headJsCss"></head>
    <link type='text/css' th:href='@{/css/detail2.min.css}' rel='stylesheet'/>
    <link type="text/css" th:href="@{/css/jzcusstyle.css}" rel="stylesheet" />
</head>
<body class="g_body g_locale2052 g_cusSiteWidth  ">
<div id='sitetips' class='sitetips sitetips_new' style='display:none;'>
    <div class='keepcenter_tipbar'>
        <div class='tiptext'></div>
        <div class='tiptoolbtn'></div>
    </div>
</div>
<div id='siteTipsDemoTemplate' class='siteTipsDemoTemplate'>
    <iframe id='siteTipsDemoTemplateFrame' frameborder='0' width='100%' height='205px' scrolling='auto'></iframe>
</div>


<div id="g_main" class='g_main g_col8  forMacAndChrome'>
    <div id="web" class="g_web ">

        <div th:replace="fragments/fragment :: menu"></div>

        <div th:replace="fragments/fragment :: indexAds"></div>

        <table class="absMiddleTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="absForms" class="forms sideForms absForms">

                    </div>
                </td>
            </tr>
        </table>


        <div id="fullmeasureTopForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms"
             style='display:none'>

        </div>

        <table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="webContainer" class="webContainer">
                        <div id="container" class="container">
                            <table class="containerTop" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>

                            <table class="containerMiddle" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td id="containerMiddleLeft" class="containerMiddleLeft">
                                    </td>
                                    <td class="containerMiddleCenter">
                                        <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">

                                        </div>

                                        <div id="containerForms" class="containerForms">
                                            <div id="topForms" class="column forms mainForms topForms"
                                                 style='display:none'>

                                            </div>

                                            <table class="containerFormsMiddle" cellpadding='0' cellspacing='0'>
                                                <tr>
                                                    <td valign="top" id="containerFormsLeft" class="containerFormsLeft"
                                                        style='display:none'>
                                                        <div class="containerFormsLeftTop">
                                                        </div>
                                                        <div id="leftForms" class="column forms sideForms leftForms">

                                                        </div>
                                                        <div class="containerFormsLeftBottom">
                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsCenter"
                                                        class="containerFormsCenter">

                                                        <div id="centerTopForms"
                                                             class="column forms mainForms centerTopForms">
                                                            <div id='module14' _indexClass='formIndex1' _moduleType='14'
                                                                 _modulestyle='44' _moduleid='14'
                                                                 class='form form14 formIndex1 formStyle44 fk-proDetaliModuleStyle '
                                                                 title='' _sys='0' _banId='' style='' _side='0'
                                                                 _inTab='0' _inMulMCol='0' _inFullmeasure='0'
                                                                 _inpack='0' _inpopupzone='0' _autoHeight='1'
                                                                 _global='false' _independent='false'>
                                                                <table class='formTop formTop14' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left'></td>
                                                                        <td class='center'></td>
                                                                        <td class='right'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class='formBanner formBanner14 fk-proDetailBannerStyle '
                                                                       cellpadding='0' cellspacing='0' style=''>
                                                                    <tr>
                                                                        <td class='left left14'></td>
                                                                        <td class='center center14' valign='top'>
                                                                            <table cellpadding='0' cellspacing='0'
                                                                                   class='formBannerTitle formBannerTitle14'>
                                                                                <tr>
                                                                                    <td class='titleLeft titleLeft14'
                                                                                        valign='top'>
                                                                                    </td>
                                                                                    <td class='titleCenter titleCenter14'
                                                                                        valign='top'>
                                                                                        <div class='titleText titleText14'>
                                                                                            <span class='bannerNormalTitle fk_mainTitle mainTitle mainTitle14'>Product Detail</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class='titleRight titleRight14'
                                                                                        valign='top'>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td class='right right14'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class=' formMiddle formMiddle14' style=''
                                                                       cellpadding='0' cellspacing='0'>
                                                                    <tr>
                                                                        <td class='formMiddleLeft formMiddleLeft14'></td>
                                                                        <td class='formMiddleCenter formMiddleCenter14 '
                                                                            valign='top'>
                                                                            <div class='formMiddleContent formMiddleContent14 fk-formContentOtherPadding'
                                                                                 tabStyle='0'>
                                                                                <div class='J_productDetail productDetail fk-pdStyleColor_0 pdStyle5 pd_J'>
                                                                                    <table class='pdTableLayout'>
                                                                                        <tr>
                                                                                            <td valign='top'
                                                                                                class='pd_t_l_left pd_t_l_left_J'>
                                                                                                <div class='pdLayoutL'>
                                                                                                    <div class='imgContainer imgContainer_J fk-imgContainer'>
                                                                                                        <div id='imgDiv14'
                                                                                                             class='imgDiv  '
                                                                                                             faiWidth='320'
                                                                                                             faiHeight='320'>
                                                                                                            <table cellpadding='0'
                                                                                                                   cellspacing='0'>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <img style='width:470px;height:470px;'
                                                                                                                             th:alt="${product.enName}"
                                                                                                                             th:src="@{'/'+${product.picUrl}}"/>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td valign='top'>
                                                                                                <div class='pdLayoutR pdLayoutR_J'>
                                                                                                    <div class='J_productTitle title g_minor'>
                                                                                                        <span th:text="${product.enName}"></span>
                                                                                                    </div>
                                                                                                    <div class='productPropDiv'>
                                                                                                        <div class='pd_propTable '>
                                                                                                            <table class='fk-propTable'
                                                                                                                   cellpadding='0'
                                                                                                                   cellspacing='0'>
                                                                                                                <tr>
                                                                                                                    <td valign='top'
                                                                                                                        class='propName g_minor'
                                                                                                                        style='width:75px;min-width:75px;max-width: 75px;'
                                                                                                                        title='No.'>
                                                                                                                        Catalog:&nbsp;
                                                                                                                    </td>
                                                                                                                    <td valign='top'
                                                                                                                        class='propValue g_minor'>
                                                                                                                        <a th:text="${product.categoryEnName}" style="color:#337ab7;" target="_blank" th:href="@{'/product/cate/'+${product.categoryId}+'.html'}"></a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr class='J_saleFullReduce'>
                                                                                                                    <td valign='top'
                                                                                                                        class='propName g_minor'
                                                                                                                        title='Product introduction'>
                                                                                                                        Product introduction:&nbsp;
                                                                                                                    </td>
                                                                                                                    <td colspan="2"
                                                                                                                        valign='top'
                                                                                                                        class='propValue g_stress'>
                                                                                                                        <table border='0'
                                                                                                                               cellspacing='0'
                                                                                                                               cellpadding='0'>
                                                                                                                            <tr>
                                                                                                                                <td>
                                                                                                                                    <span th:text="${product.introduce}"></span>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class='pdAppendLayout pdAppendLayout_J'></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                    <div class='detailInfo'>
                                                                                        <table id='picParametersTable'
                                                                                               class='detailInfoTable'
                                                                                               cellpadding='0'
                                                                                               cellspacing='0'>
                                                                                            <tr>
                                                                                                <td class='detailInfoTd'>
                                                                                                    <div id='pdInfoSwitchTable'
                                                                                                         class='pdInfoSwitchTable'>
                                                                                                        <div id='detDescSwitch'
                                                                                                             class='tabSwitch pdNoLeftBorder  selected g_borderSelected fk_productDetailBorderSelect fk-mainBorderColor fk-mainFontColor'
                                                                                                             onclick='javascript:return;'>
                                                                                                            <div class='J_tabTitleWrap pdNoBottomBorder f-tabTitleWrap2'>
                                                                                                                <span class='tabTitle'>Product Detail</span>
                                                                                                            </div>
                                                                                                            <div class=' fk_productDetailBorderSelect  pdComSwitchBottomDiv'></div>
                                                                                                        </div>
                                                                                                        <div class='J_paramBorder fk-paramBorder' style="display: none;"></div>
                                                                                                        <div class=' fk_productDetailBorderSelect  pdSwitchRightTd'
                                                                                                             valign='bottom'>
                                                                                                            <div class=' fk_productDetailBorderSelect  pdComSwitchBottomDiv'></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class='pd-clear'></div>
                                                                                                    <div id='detailedDesc'
                                                                                                         class='fk-detailedDesc' style="display:block;">
                                                                                                        <div class='richContent' th:utext="${product.description}">
                                                                                                            </div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class='formMiddleRight formMiddleRight14'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class='formBottom formBottom14' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left left14'></td>
                                                                        <td class='center center14'></td>
                                                                        <td class='right right14'></td>
                                                                    </tr>
                                                                </table>
                                                                <div class='clearfloat clearfloat14'></div>
                                                            </div>


                                                        </div>
                                                        <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                                            <div id="middleLeftForms"
                                                                 class="column forms mainForms middleLeftForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div id="middleRightForms"
                                                                 class="column forms mainForms middleRightForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div class="clearfloat"></div>
                                                        </div>
                                                        <div id="centerBottomForms"
                                                             class="column forms mainForms centerBottomForms"
                                                             style='display:none'>

                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsRight"
                                                        class="containerFormsRight" style='display:none'>
                                                        <div class="containerFormsRightTop">
                                                        </div>
                                                        <div id="rightForms" class="column forms sideForms rightForms">

                                                        </div>
                                                        <div class="containerFormsRightBottom">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="bottomForms" class="column forms mainForms bottomForms"
                                                 style='display:none'>

                                            </div>

                                            <div id="containerPlaceholder" class="containerPlaceholder"></div>

                                        </div>

                                        <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                                        </div>

                                    </td>

                                    <td id="containerMiddleRight" class="containerMiddleRight"></td>
                                </tr>
                            </table>

                            <table class="containerBottom" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </td>
            </tr>
        </table>

        <div th:replace="fragments/fragment :: webFooterTable"></div>

    </div>
</div>

<footer th:replace="fragments/fragment :: footerCssJs"></footer>

</body>
</html>




