<!DOCTYPE HTML>
<html xlang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${product.enName}+' - '+${company.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="mobile-agent" content="format=html5;url=http://m.fkjj21.icoc.me/pd.jsp?pid=4"/>
    <meta name="description" itemprop="description" th:content="${product.enName}+' - '+${company.name}"/>
    <meta itemprop="name" th:content="${product.enName}+' - '+${company.name}"/>
    <meta name="keywords" th:content="${config.keyword}"/>
    <head th:replace="fragments/fragment :: headJsCss"></head>
    <link type='text/css' th:href='@{/css/detail2.min.css}' rel='stylesheet'/>
    <link type="text/css" th:href="@{/css/jzcusstyle.css}" rel="stylesheet" />
</head>
<body class="g_body g_locale2052 g_cusSiteWidth  ">
<div id='sitetips' class='sitetips sitetips_new' style='display:none;'>
    <div class='keepcenter_tipbar'>
        <div class='tiptext'></div>
        <div class='tiptoolbtn'></div>
    </div>
</div>
<div id='siteTipsDemoTemplate' class='siteTipsDemoTemplate'>
    <iframe id='siteTipsDemoTemplateFrame' frameborder='0' width='100%' height='205px' scrolling='auto'></iframe>
</div>


<div id="g_main" class='g_main g_col8  forMacAndChrome'>
    <div id="web" class="g_web ">

        <div th:replace="fragments/fragment :: menu"></div>

        <table class="webBannerTable J_webBannerTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" class="fk-moduleZoneWrap">


                    <div id="webBanner" class="webBanner">
                        <table class="bannerTable" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="bannerLeft"></td>
                                <td class="bannerCenter" align='center' valign='top'>

                                    <div style="visibility:hidden;" class="fk-inBannerListZone-tmp forms">

                                        <div id='module386' bannerTitle='图片' _indexClass='formIndex1' _moduleType='1'
                                             _modulestyle='79' _moduleid='386'
                                             class='form form386 formIndex1 formStyle79 formInZone ' title='' _sys='1'
                                             _banId='AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY'
                                             style='position:absolute;top:237px;left:312px;width:556px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent386'>
                                                <div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true'
                                                                                                       class='J_floatImg_jump f_floatImg_jump '>
                                                    <div class='floatImgWrap'>
                                                        <div class='forMargin'><img id='float_img_386'
                                                                                    class='float_in_img J_defImage '
                                                                                    src='//10532151.s61i.faiusr.com/4/AD0It_qCBRAEGAAgkPy1ywUovMqy-wMwrAQ4kgI.png'
                                                                                    alt='AD0It_qCBRAEGAAgkPy1ywUovMqy-wMwrAQ4kgI'/>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module387' bannerTitle='图片' _indexClass='formIndex2' _moduleType='1'
                                             _modulestyle='79' _moduleid='387'
                                             class='form form387 formIndex2 formStyle79 formInZone ' title='' _sys='1'
                                             _banId='AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY'
                                             style='position:absolute;top:459px;left:386px;width:408px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent387'>
                                                <div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true'
                                                                                                       class='J_floatImg_jump f_floatImg_jump '>
                                                    <div class='floatImgWrap'>
                                                        <div class='forMargin'><img id='float_img_387'
                                                                                    class='float_in_img J_defImage '
                                                                                    src='//10532151.s61i.faiusr.com/4/AD0It_qCBRAEGAAgkvy1ywUo8qDKoAIwmAM4GQ.png'
                                                                                    alt='AD0It_qCBRAEGAAgkvy1ywUo8qDKoAIwmAM4GQ'/>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module388' bannerTitle='文本' _indexClass='formIndex3' _moduleType='1'
                                             _modulestyle='86' _moduleid='388'
                                             class='form form388 formIndex3 formStyle86 formInZone  siteEditor '
                                             title='' _sys='1' _banId='AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY'
                                             style='position:absolute;top:320px;left:380px;width:440px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent388'>
                                                <div class='fk-editor simpleText fk-editor-break-word  '><font
                                                        face="SimSun" style="font-size: 60px;"><b><font
                                                        style="color: rgb(28, 36, 70);"
                                                        color="#1c2446">高雅的生活品质</font></b></font>
                                                    <div><font face="SimSun" style="font-size: 60px;"><b><font
                                                            style="color: rgb(28, 36, 70);" color="#1c2446"><br/></font></b></font>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module389' bannerTitle='文本' _indexClass='formIndex4' _moduleType='1'
                                             _modulestyle='86' _moduleid='389'
                                             class='form form389 formIndex4 formStyle86 formInZone  siteEditor '
                                             title='' _sys='1' _banId='AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY'
                                             style='position:absolute;top:392px;left:450px;width:300px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent389'>
                                                <div class='fk-editor simpleText fk-editor-break-word  '><span
                                                        style="font-size: 36px; color: rgb(83, 52, 17);"
                                                        color="#533411">舒适 / 舒心 / 惬意</span>
                                                    <div><span style="font-size: 36px; color: rgb(83, 52, 17);"
                                                               color="#533411"><br/></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module390' bannerTitle='文本' _indexClass='formIndex5' _moduleType='1'
                                             _modulestyle='86' _moduleid='390'
                                             class='form form390 formIndex5 formStyle86 formInZone  siteEditor '
                                             title='' _sys='1' _banId='AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY'
                                             style='position:absolute;top:271px;left:471px;width:237px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent390'>
                                                <div class='fk-editor simpleText fk-editor-break-word  '><font
                                                        color="#583d04" style="color: rgb(88, 61, 4); font-size: 24px;">[
                                                    精选主材 &nbsp;时尚简约 ]</font></div>
                                            </div>
                                        </div>

                                        <div id='module391' bannerTitle='图片' _indexClass='formIndex6' _moduleType='1'
                                             _modulestyle='79' _moduleid='391'
                                             class='form form391 formIndex6 formStyle79 formInZone ' title='' _sys='1'
                                             _banId='AD0It_qCBRACGAAgiPy1ywUouIaTjgEwgA84oAY'
                                             style='position:absolute;top:143px;left:524px;width:273px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent391'>
                                                <div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true'
                                                                                                       class='J_floatImg_jump f_floatImg_jump '>
                                                    <div class='floatImgWrap'>
                                                        <div class='forMargin'><img id='float_img_391'
                                                                                    class='float_in_img J_defImage '
                                                                                    src='//10532151.s61i.faiusr.com/4/AD0It_qCBRAEGAAgj-y1ywUoivCYkAYwkQI4jwM.png'
                                                                                    alt='AD0It_qCBRAEGAAgj-y1ywUoivCYkAYwkQI4jwM'/>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module392' bannerTitle='图片' _indexClass='formIndex7' _moduleType='1'
                                             _modulestyle='79' _moduleid='392'
                                             class='form form392 formIndex7 formStyle79 formInZone ' title='' _sys='1'
                                             _banId='AD0It_qCBRACGAAgiPy1ywUouIaTjgEwgA84oAY'
                                             style='position:absolute;top:30px;left:1000px;width:235px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent392'>
                                                <div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true'
                                                                                                       class='J_floatImg_jump f_floatImg_jump '>
                                                    <div class='floatImgWrap'>
                                                        <div class='forMargin'><img id='float_img_392'
                                                                                    class='float_in_img J_defImage '
                                                                                    src='//10532151.s61i.faiusr.com/4/AD0It_qCBRAEGAAgjfy1ywUo_9jB1Qcw6wE40wI.png'
                                                                                    alt='AD0It_qCBRAEGAAgjfy1ywUo_9jB1Qcw6wE40wI'/>
                                                        </div>
                                                    </div>
                                                </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module393' bannerTitle='文本' _indexClass='formIndex8' _moduleType='1'
                                             _modulestyle='86' _moduleid='393'
                                             class='form form393 formIndex8 formStyle86 formInZone  siteEditor '
                                             title='' _sys='1' _banId='AD0It_qCBRACGAAgiPy1ywUouIaTjgEwgA84oAY'
                                             style='position:absolute;top:212px;left:626px;width:586px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent393'>
                                                <div class='fk-editor simpleText fk-editor-break-word  '><font style=""
                                                                                                               color="rgba(102,102,102,1)"><font
                                                        style="color: rgb(74, 179, 69);" color="#4ab345"
                                                        face="SimSun"><b><span style="font-size: 56px;">时尚简约·年轻自然</span></b></font></font>
                                                </div>
                                            </div>
                                        </div>

                                        <div id='module394' bannerTitle='文本' _indexClass='formIndex9' _moduleType='1'
                                             _modulestyle='86' _moduleid='394'
                                             class='form form394 formIndex9 formStyle86 formInZone  siteEditor '
                                             title='' _sys='1' _banId='AD0It_qCBRACGAAgiPy1ywUouIaTjgEwgA84oAY'
                                             style='position:absolute;top:286px;left:633px;width:474px;' _side='0'
                                             _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0'
                                             _autoHeight='0' _global='false' _independent='false'>
                                            <div class='lightModuleOuterContent lightModuleOuterContent394'>
                                                <div class='fk-editor simpleText fk-editor-break-word  '><font
                                                        face="SimSun"><font
                                                        style="color: rgb(74, 179, 69); font-size: 34px;"
                                                        color="rgba(74,179,69,1)">时尚简约布局还你想象力空间</font></font></div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class='bannerTop'></div>
                                    <div id='bannerV2' class='banner extBanner' fbHeight='800' defaultwidth='0'
                                         style=' height: 800px; background: none;'>
                                        <div class='banner defaultBannerMain J_bannerItem'
                                             style='background:url(//10532151.s61i.faiusr.com/2/AD0It_qCBRACGAAgivy1ywUoxMLAmwYwgA84oAY.jpg) 50% 50% no-repeat;background-size: cover;height:800px;'></div>
                                    </div>

                                </td>
                                <td class="bannerRight"></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <table class="absMiddleTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="absForms" class="forms sideForms absForms">

                    </div>
                </td>
            </tr>
        </table>


        <div id="fullmeasureTopForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms"
             style='display:none'>

            <wbr style='display:none;'/>
        </div>

        <table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center">
                    <div id="webContainer" class="webContainer">
                        <div id="container" class="container">
                            <table class="containerTop" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>

                            <table class="containerMiddle" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td id="containerMiddleLeft" class="containerMiddleLeft">


                                    </td>

                                    <td class="containerMiddleCenter">
                                        <div id="containerMiddleCenterTop" class="containerMiddleCenterTop">

                                        </div>

                                        <div id="containerForms" class="containerForms">
                                            <div id="topForms" class="column forms mainForms topForms"
                                                 style='display:none'>

                                            </div>

                                            <table class="containerFormsMiddle" cellpadding='0' cellspacing='0'>
                                                <tr>
                                                    <td valign="top" id="containerFormsLeft" class="containerFormsLeft"
                                                        style='display:none'>
                                                        <div class="containerFormsLeftTop">
                                                        </div>
                                                        <div id="leftForms" class="column forms sideForms leftForms">

                                                        </div>
                                                        <div class="containerFormsLeftBottom">
                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsCenter"
                                                        class="containerFormsCenter">

                                                        <div id="centerTopForms"
                                                             class="column forms mainForms centerTopForms">
                                                            <div id='module14' _indexClass='formIndex1' _moduleType='14'
                                                                 _modulestyle='44' _moduleid='14'
                                                                 class='form form14 formIndex1 formStyle44 fk-proDetaliModuleStyle '
                                                                 title='' _sys='0' _banId='' style='' _side='0'
                                                                 _inTab='0' _inMulMCol='0' _inFullmeasure='0'
                                                                 _inpack='0' _inpopupzone='0' _autoHeight='1'
                                                                 _global='false' _independent='false'>
                                                                <table class='formTop formTop14' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left'></td>
                                                                        <td class='center'></td>
                                                                        <td class='right'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class='formBanner formBanner14 fk-proDetailBannerStyle '
                                                                       cellpadding='0' cellspacing='0' style=''>
                                                                    <tr>
                                                                        <td class='left left14'></td>
                                                                        <td class='center center14' valign='top'>
                                                                            <table cellpadding='0' cellspacing='0'
                                                                                   class='formBannerTitle formBannerTitle14'>
                                                                                <tr>
                                                                                    <td class='titleLeft titleLeft14'
                                                                                        valign='top'>
                                                                                    </td>
                                                                                    <td class='titleCenter titleCenter14'
                                                                                        valign='top'>
                                                                                        <div class='titleText titleText14'>
                                                                                            <span class='bannerNormalTitle fk_mainTitle mainTitle mainTitle14'>Product Detail</span>
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class='titleRight titleRight14'
                                                                                        valign='top'>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td class='right right14'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class=' formMiddle formMiddle14' style=''
                                                                       cellpadding='0' cellspacing='0'>
                                                                    <tr>
                                                                        <td class='formMiddleLeft formMiddleLeft14'></td>
                                                                        <td class='formMiddleCenter formMiddleCenter14 '
                                                                            valign='top'>
                                                                            <div class='formMiddleContent formMiddleContent14 fk-formContentOtherPadding'
                                                                                 tabStyle='0'>
                                                                                <div class='J_productDetail productDetail fk-pdStyleColor_0 pdStyle5 pd_J'>
                                                                                    <table class='pdTableLayout'>
                                                                                        <tr>
                                                                                            <td valign='top'
                                                                                                class='pd_t_l_left pd_t_l_left_J'>
                                                                                                <div class='pdLayoutL'>
                                                                                                    <div class='imgContainer imgContainer_J fk-imgContainer'>
                                                                                                        <div id='imgDiv14'
                                                                                                             class='imgDiv  '
                                                                                                             faiWidth='320'
                                                                                                             faiHeight='320'>
                                                                                                            <table cellpadding='0'
                                                                                                                   cellspacing='0'>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <img style='width:470px;height:470px;'
                                                                                                                             th:alt="${product.enName}"
                                                                                                                             th:src="@{'/'+${product.picUrl}}"/>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>

                                                                                                        </div>
                                                                                                        <div class='pd-fl pd-mt8 shareContainer shareContainer_J '>
                                                                                                            <table class='shareInfo shareInfo_J'>
                                                                                                                <tr>
                                                                                                                    <td valign='top'
                                                                                                                        class='shareCtrl'>
                                                                                                                        <div class='shareto'
                                                                                                                             title='Share'>
                                                                                                                            Share to：
                                                                                                                            </div>
                                                                                                                    </td>
                                                                                                                    <td class='shareCtrl sharePanel'>
                                                                                                                        <a hidefocus='true'
                                                                                                                           title='分享到 微信'
                                                                                                                           href='javascript:;'
                                                                                                                           onclick="return false;"><span
                                                                                                                            class='shareIcon Weixin'></span></a>
                                                                                                                        <a hidefocus='true'
                                                                                                                           title='分享到 新浪微博'
                                                                                                                           href='javascript:;'
                                                                                                                           onclick=''><span
                                                                                                                                class='shareIcon sina_weibo'></span></a><a
                                                                                                                            hidefocus='true'
                                                                                                                            title='分享到 QQ分享'
                                                                                                                            href='javascript:;'
                                                                                                                            onclick=''><span
                                                                                                                            class='shareIcon qq_share'></span></a><a
                                                                                                                            hidefocus='true'
                                                                                                                            title='分享到 QQ空间'
                                                                                                                            href='javascript:;'
                                                                                                                            onclick=''><span
                                                                                                                            class='shareIcon qq_zone'></span></a><a
                                                                                                                            hidefocus='true'
                                                                                                                            title='分享到 豆瓣网'
                                                                                                                            href='javascript:;'
                                                                                                                            onclick=''><span
                                                                                                                            class='shareIcon douban'></span></a><a
                                                                                                                            hidefocus='true'
                                                                                                                            title='分享到 百度贴吧'
                                                                                                                            href='javascript:;'
                                                                                                                            onclick=""><span
                                                                                                                            class='shareIcon baidu_tieba'></span></a>
                                                                                                                    </td>
                                                                                                                    <td valign='top'
                                                                                                                        class='shareMore_J'>
                                                                                                                        <div class='shareMore'></div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                        <div class='fk-noTitlePageStyle'
                                                                                                             id='prevAndNextDiv'
                                                                                                             style=''>
                                                                                                            <table style='width:100%;height:100%;'
                                                                                                                   border="0"
                                                                                                                   cellspacing="0"
                                                                                                                   cellpadding="0">
                                                                                                                <tr>
                                                                                                                    <td colspan='2'
                                                                                                                        valign='middle'>
                                                                                                                        <div id='singleNewspagenation14'
                                                                                                                             class='pagenation'>
                                                                                                                            <div class='pagePrev fk-productPage'>
                                                                                                                                <a hidefocus='true'
                                                                                                                                   href='pd.jsp?id=6#fai_14_top&amp;pfc=null'><span>上一个</span></a>
                                                                                                                            </div>
                                                                                                                            <div class='pageNext fk-productPage'>
                                                                                                                                <span>下一个</span>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td valign='top'>
                                                                                                <div class='pdLayoutR pdLayoutR_J'>
                                                                                                    <div class='J_productTitle title g_minor'>
                                                                                                        <span th:text="${product.enName}"></span>
                                                                                                    </div>
                                                                                                    <div class='productPropDiv'>
                                                                                                        <div class='pd_propTable '>
                                                                                                            <table class='fk-propTable'
                                                                                                                   cellpadding='0'
                                                                                                                   cellspacing='0'>
                                                                                                                <tr>
                                                                                                                    <td valign='top'
                                                                                                                        class='propName g_minor'
                                                                                                                        style='width:75px;min-width:75px;max-width: 75px;'
                                                                                                                        title='No.'>
                                                                                                                        No.:&nbsp;
                                                                                                                    </td>
                                                                                                                    <td valign='top'
                                                                                                                        class='propValue g_minor'>
                                                                                                                        <span th:text="${product.id}"></span>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr class='J_saleFullReduce fk-mallPrice'>
                                                                                                                    <td valign='top'
                                                                                                                        class='propName g_minor'
                                                                                                                        style='width:75px;min-width:75px;max-width: 75px;'
                                                                                                                        title='Price'>
                                                                                                                        Price:&nbsp;
                                                                                                                    </td>
                                                                                                                    <td colspan="2"
                                                                                                                        valign='top'
                                                                                                                        class='propValue J_mallPrice g_stress mallPriceBig fk-mainFontColor'>
                                                                                                                        <table border='0'
                                                                                                                               cellspacing='0'
                                                                                                                               cellpadding='0'>
                                                                                                                            <tr>
                                                                                                                                <td>
                                                                                                                                    <span class='f-mallUnit'>￥</span><span
                                                                                                                                        id='realMallAmount'
                                                                                                                                        curVal='￥'
                                                                                                                                        class='mallPrice pd-lh105' th:text="140.00"></span>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class='pdAppendLayout pdAppendLayout_J'></td>
                                                                                        </tr>
                                                                                    </table>
                                                                                    <div class='detailInfo'>
                                                                                        <table id='picParametersTable'
                                                                                               class='detailInfoTable'
                                                                                               cellpadding='0'
                                                                                               cellspacing='0'>
                                                                                            <tr>
                                                                                                <td class='detailInfoTd'>
                                                                                                    <div id='pdInfoSwitchTable'
                                                                                                         class='pdInfoSwitchTable'>
                                                                                                        <div id='detDescSwitch'
                                                                                                             class='tabSwitch pdNoLeftBorder  selected g_borderSelected fk_productDetailBorderSelect fk-mainBorderColor fk-mainFontColor'
                                                                                                             onclick='javascript:return;'>
                                                                                                            <div class='J_tabTitleWrap pdNoBottomBorder f-tabTitleWrap2'>
                                                                                                                <span class='tabTitle'>Product Detail</span>
                                                                                                            </div>
                                                                                                            <div class=' fk_productDetailBorderSelect  pdComSwitchBottomDiv'></div>
                                                                                                        </div>
                                                                                                        <div class='J_paramBorder fk-paramBorder' style="display: none;"></div>
                                                                                                        <div class=' fk_productDetailBorderSelect  pdSwitchRightTd'
                                                                                                             valign='bottom'>
                                                                                                            <div class=' fk_productDetailBorderSelect  pdComSwitchBottomDiv'></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class='pd-clear'></div>
                                                                                                    <div id='detailedDesc'
                                                                                                         class='fk-detailedDesc' style="display:block;">
                                                                                                        <div class='richContent' th:utext="${product.description}">
                                                                                                            </div>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td class='formMiddleRight formMiddleRight14'></td>
                                                                    </tr>
                                                                </table>
                                                                <table class='formBottom formBottom14' cellpadding='0'
                                                                       cellspacing='0'>
                                                                    <tr>
                                                                        <td class='left left14'></td>
                                                                        <td class='center center14'></td>
                                                                        <td class='right right14'></td>
                                                                    </tr>
                                                                </table>
                                                                <div class='clearfloat clearfloat14'></div>
                                                            </div>


                                                        </div>
                                                        <div class="containerFormsCenterMiddle J_containerFormsCenterMiddle">
                                                            <div id="middleLeftForms"
                                                                 class="column forms mainForms middleLeftForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div id="middleRightForms"
                                                                 class="column forms mainForms middleRightForms"
                                                                 style='display:none'

                                                            >

                                                            </div>
                                                            <div class="clearfloat"></div>
                                                        </div>
                                                        <div id="centerBottomForms"
                                                             class="column forms mainForms centerBottomForms"
                                                             style='display:none'>

                                                        </div>
                                                    </td>

                                                    <td valign="top" id="containerFormsRight"
                                                        class="containerFormsRight" style='display:none'>
                                                        <div class="containerFormsRightTop">
                                                        </div>
                                                        <div id="rightForms" class="column forms sideForms rightForms">

                                                        </div>
                                                        <div class="containerFormsRightBottom">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>

                                            <div id="bottomForms" class="column forms mainForms bottomForms"
                                                 style='display:none'>

                                            </div>

                                            <div id="containerPlaceholder" class="containerPlaceholder"></div>

                                        </div>

                                        <div id="containerMiddleCenterBottom" class="containerMiddleCenterBottom">
                                        </div>

                                    </td>

                                    <td id="containerMiddleRight" class="containerMiddleRight"></td>
                                </tr>
                            </table>

                            <table class="containerBottom" cellpadding='0' cellspacing='0'>
                                <tr valign='top'>
                                    <td class="left"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </td>
            </tr>
        </table>

        <div id="fullmeasureBottomForms"
             class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms"
             style='display:none'>

            <wbr style='display:none;'/>
        </div>

        <div th:replace="fragments/fragment :: webFooterTable"></div>

    </div>
</div>

<footer th:replace="fragments/fragment :: floatDiv"></footer>

<div id="popupLevel" class="popupLevel">
    <div id="popupLevelWrap" class='popupLevelWrap'>
        <div id="popupLevelEditToolArea" class="popupLevelEditToolArea">
            <div id="popupLevelEditPanel" class="popupLevelEditPanel"></div>
            <div id="popupLevelEditTool" class="popupLevelEditTool"></div>
        </div>
        <div id="popupLevelForms" class="forms sideForms popupLevelForms"></div>
    </div>
</div>

<!-- 样式面板 -->
<div class="fk-funPanelStyleArea" id="fk-funPanelStyleArea">
    <div class="fk-funPanelStyle fk-funPanel" id="fk-funPanelStyle">
        <transition name="component-fade" mode="out-in">
            <keep-alive>
                <template v-if="panelOpen">
                    <fk-funpanelstyle curpanel="curPanel" panelopen="panelOpen" :anelleft="panelLeft"
                                      closepanelclick="closePanelClick"
                                      switchpaneltype="switchPanelType"></fk-funpanelstyle>
                </template>
            </keep-alive>
        </transition>
    </div>
</div>
<link type='text/css' href='//2.ss.faisys.com/css/fontsIco.min.css?v=201806111403' rel='stylesheet'/>

</body>
</html>




